# Application Environment
NODE_ENV=production
PORT=3000
HOSTNAME=0.0.0.0
NEXT_TELEMETRY_DISABLED=1

# Database
DATABASE_URL=postgresql://username:password@localhost:5432/kangtech

# NextAuth.js
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-key-here

# Docker Compose
# Copy this file to .env and update the values
# docker-compose up --build

